.dimmed {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: black;
  z-index: 9999;

  .close-button {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 24px;
    height: 24px;
    color: #fff;
    z-index: 2;
    cursor: pointer;
  }
}
